.header {
	background:#f1f1f1;
	text-align: center;
	margin:0px;	
	padding:5px;
	color:#337ab7;
}

.footer {
	background:#f1f1f1;
	position: fixed;
    bottom: 0;
    width: 100%;
    text-align:right;
    padding:5px;
}

.form-inline {
	padding:5px;
}

.thumbnail {
	margin:5px;
	background:#f1f1f1;
}