
<form class="form-inline">
	<div class="form-group">
	<label for="directory">Directory: </label>
		<input type="text" class="form-control" name="directory" id="directory" ng-model="vm.dir" style="width: 300px;" required>
	</div>
</form>


<uib-tabset active="active">
	<uib-tab index="0">
		<uib-tab-heading>Analysis</uib-tab-heading>

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Path</th>
			<th>Count</th>
			<th>%</th>
			<th>Len</th>
			<th>HL7 Description</th>
			<th>Sample(s)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="stats in vm.analyzed">
			<td>{{stats.path}}</td>
			<td>{{stats.count}}</td>
			<td>{{stats.percent}}</td>
			<td>{{stats.max_length}}</td>
			<td>{{stats.description}}</td>
			<td>{{stats.value}}</td>
		</tr>
	</tbody>
</table>



	</uib-tab>
	<uib-tab index="1">
		<uib-tab-heading>Raw</uib-tab-heading>	

<div class="thumbnail" ng-repeat="hlseven in vm.results">
	<pre>{{hlseven.message}}</pre>
</div>


	</uib-tab>
	<uib-tab index="2">
		<uib-tab-heading>Formatted</uib-tab-heading>	
<div class="thumbnail" ng-repeat="hlseven in vm.results">

	<div ng-repeat="segment in hlseven.segments">
		<div ng-repeat="(key, value) in segment">
			<div class="row">
				<div ng-if="key=='_SegmentType'"> 
					<div class="col-sm-12 segment visible-sm visible-md visible-lg">{{value}}</div>
					<div class="col-sm-12 segment visible-xs">{{value}}</div>

				</div>
				<div ng-if="key!='_SegmentType'"> 
					<div class="col-sm-3">{{key}}</div>
					<div class="col-sm-9 visible-sm visible-md visible-lg">{{value}}</div>
					<div class="col-sm-9 small-format visible-xs">{{value}}</div>
				</div>
			</div>
		</div>
	</div>
	<br />
</div>


	</uib-tab>

</uib-tabset>


