
<form class="form-inline">
	<div class="form-group">
	<label for="directory">Directory: </label>
	<input type="text" class="form-control" name="directory" id="directory" ng-model="vm.dir" required>
	</div>
</form>


<uib-tabset active="active">
	<uib-tab index="0">
		<uib-tab-heading>Analysis</uib-tab-heading>

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Path</th>
			<th>Count</th>
			<th>%</th>
			<th>Len</th>
			<th>HL7 Description</th>
			<th>Sample(s)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Test</td>
			<td>Test</td>
			<td>Test</td>
			<td>Test</td>
			<td>Test</td>
			<td>Test</td>
		</tr>
	</tbody>
</table>



	</uib-tab>
	<uib-tab index="1">
		<uib-tab-heading>Raw</uib-tab-heading>	
		Raw Messages
	</uib-tab>
</uib-tabset>


